<html>
    <head>
        <title>Student Info</title>
    </head>
    <body>
        <h1> Student Info </h1>

        {% if name %}
            <p> Student Name : {{ name }} </p>
            <p> Avrage Marks : {{ avg }} </p>

            <br>
            <a href="/student/"> Home </a>

        {% else %}
            <form action="/student/" method="post">
                {% csrf_token %}
                Student name : <input type="text" name="name"> <br><br>
                Maths Marks : <input type="text" name="maths"> <br><br>
                Science Marks : <input type="text" name="science"> <br><br>
                History Marks : <input type="text" name="history"> <br><br>
                <input type="submit" value="Submit">
            </form>
            <br><br>
            <table border="1" cellpadding="5">
                <thead>
                    <tr>
                        <th> Student Name </th>
                        <th> Maths </th>
                        <th> Science </th>
                        <th> History </th>
                        <th> Avg </th>
                    </tr>
                </thead>
                <tbody>
                    {% for std in stds %}
                        <tr>
                            <td> {{std.name}} </td>
                            <td> {{std.maths}} </td>
                            <td> {{std.science}} </td>
                            <td> {{std.history}} </td>
                            <td> {{std.avg}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </body>
</html>



